@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 0 0% 53%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 53%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0 0% 53%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 67%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 67%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 67%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  html {
    scroll-snap-type: y mandatory;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* sb means side border its create for debuging */
  .sb {
    @apply border border-red-500;
  }
  .studio-container {
    @apply px-5 lg:px-8;
  }
  .scroll::-webkit-scrollbar-thumb {
    @apply bg-primary/20 rounded-sm;
  }

  .scroll::-webkit-scrollbar {
    @apply w-1;
  }
}

@layer components {
  .container {
    @apply max-w-[1840px] mx-auto w-full px-5 lg:px-8;
  }
}

body::-webkit-scrollbar {
  display: none;
}
